@font-face{
    font-family: 'Pokemon Solid';
    src: url(../assets/font/Pokemon\ Solid.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: '8BIT';
    src: url(../assets/font/PressStart2P-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
}

.header{
    display: flex;
    background-color: red;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header img{
    width: 65px;
}

.cadastro-login{
    display: flex;
    gap: 20px;
}

.cadastro-login button{
    font-family: '8BIT', sans-serif;
    font-size: 10px;
    color: white;
    height: 45px;
    width: 110px;
    background-color: rgba(0,0,0,0.1);
    border-color: white;
    border-width: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.titulo{
    font-family: 'Pokemon Solid', sans-serif;
    color: gold;
    -webkit-text-stroke: 1px blue;
    font-size: 40px;
    margin-bottom: 15px;
}

.main{
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/fundo.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    padding:30px ;
    gap: 30px;
}

.main h2{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 35px;
    color: red;
    -webkit-text-stroke: 1px black;
}
.texto-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    border: 4px solid red;
    border-radius: 15px;
    padding: 50px;
    position: relative;
}

.texto-hero p {
    font-family: '8BIT', sans-serif;
    font-size: 11px;
    color: white;
}
.como-funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.como-funciona h3 {
    font-family: '8BIT', sans-serif;
    font-size: 18px;
    color: white;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.15);
    border: 3px solid red;
    border-radius: 15px;
    padding: 25px;
    width: 250px;
    gap: 15px;
}

.card span {
    font-family: '8BIT', sans-serif;
    font-size: 25px;
    color: red;
}

.card h4 {
    font-family: '8BIT', sans-serif;
    font-size: 15px;
    color: white;
}

.card p {
    font-family: '8BIT', sans-serif;
    font-size: 10px;
    color: lightgray;
    line-height: 1.5;
}
.comece{
    font-family: '8BIT', sans-serif;
    font-size: 10px;
    color: white;
    background-color: rgba(255,0,0,0.5);
    border: 3px solid white;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
}
.sobre-mim {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.45);
    border: 4px solid red ;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.sobre-conteudo {
    display: flex;
    flex-direction: column;
    width: 750px;
    gap: 25px;
    text-align: center;
}

.sobre-conteudo img{
    width: 300px;
    height: 300px;
    align-self: center;
}

.sobre-conteudo h3 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 40px;
    color: red;
    -webkit-text-stroke: 1px black;
}

.sobre-conteudo p {
    font-family: '8BIT', sans-serif;
    font-size: 10px;
    color: lightgray;
    line-height: 2.2;
}
.pokedex {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.bola {
    border: 3px solid black;
    border-radius: 50%;
}

.azul {
    width: 30px;
    height: 30px;
    background-color: skyblue;
}

.vermelha {
    width: 15px;
    height: 15px;
    background-color: red;
}

.amarela {
    width: 15px;
    height: 15px;
    background-color: yellow;
}

.footer{
    font-family: '8BIT', sans-serif;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
    height: 60px;
}