@font-face{
    font-family: 'Pokemon Solid';
    src: url(../assets/font/Pokemon\ Solid.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: '8BIT';
    src: url(../assets/font/PressStart2P-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header{
    display: flex;
    background-color: red;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 60px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.titulo{
    font-family: 'Pokemon Solid', sans-serif;
    color: gold;
    -webkit-text-stroke: 1px blue;
    font-size: 40px;
    margin-bottom: 15px;
}

.header-usuario{
    font-family: '8BIT',sans-serif;
    margin-right: 20px;
}

.pagina{
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: rgb(226, 226, 226);
}

.barra-lateral{
    display: flex;
    flex-direction: column;
    background: linear-gradient(110deg, red, black);
    padding: 10px;
    width: 15%;
    transition: width 0.5s ease, padding 0.5s ease;
    overflow: hidden;
}

.barra-lateral.fechada{
    width: 0px;
    padding: 0;
}

.botao-alternar{
    border: none;
    color: black;
    font-size: 20px;
    margin-top: 7px;
    cursor: pointer;
    height: 10px;
    font-size: 20px;
    background-color: rgb(226, 226, 226);
}

.lista-botao{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
}

.lista-botao button{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: '8BIT', sans-serif;
    font-size: 19px;
    color: white;
    padding: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.lista-botao img{
    height: 50px;
    width: 50px; 
}

.botao-lateral{
    display: flex;
    margin-left: 5px;
}


.usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 15px;
    gap: 10px;
    color: white;
    font-size: 22px;
}
.usuario img{
    height: 170px;
    width: 170px;
}

.botao-sair{
    font-family: '8BIT', sans-serif;
    font-size: 20px;
    background-color: white;
    color: red;
    border: none;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    gap: 20px;
    overflow-y: auto;
}