
@font-face{
    font-family: '8BIT';
    src: url(../assets/font/PressStart2P-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
}


.main{
    display: flex;
    min-height: 100vh;
}

.card-tematico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, red, black);
    width: 48%;
    gap: 20px;
    padding: 40px;
    position: relative;
}

.card-tematico img{
    width: 350px;
}

.card-tematico p{
    font-family: '8BIT', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 2;
}
.card-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52%;
    background-color: whitesmoke;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: rgba(228, 11, 11, 0.6);
    border: 4px solid black;
    padding: 30px;
    border-radius: 10px;
    gap: 30px;
}
.formulario h2{
    font-family: '8BIT', sans-serif;
    font-size: 45px;  
}
.formulario input{
    font-family: '8BIT', sans-serif;
    border: 3px solid black;
    outline: none;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
.formulario input::placeholder{
    color: gray;
    font-size: 15px;
}

.formulario button{
    font-family: '8BIT', sans-serif;
    font-size: 10px;
    color: black;
    height: 75px;
    width: 140px;
    background-color: red;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.possui-conta{
    display: flex;
    font-family: '8BIT', sans-serif;
}

.pokedex {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.bola {
    border: 3px solid black;
    border-radius: 50%;
}

.azul {
    width: 30px;
    height: 30px;
    background-color: skyblue;
}

.vermelha {
    width: 15px;
    height: 15px;
    background-color: red;
}

.amarela {
    width: 15px;
    height: 15px;
    background-color: yellow;
}